<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Quickview>
            <version>0.1.0</version>
        </Magentothem_Quickview>
    </modules>
    <global>
        <models>
            <magentothem_quickview>
                <class>Magentothem_Quickview_Model</class>
            </magentothem_quickview>
        </models>
        <blocks>
            <magentothem_quickview>
                <class>Magentothem_Quickview_Block</class>
            </magentothem_quickview>
        </blocks>
        <helpers>
            <magentothem_quickview>
                <class>Magentothem_Quickview_Helper</class>
            </magentothem_quickview>
        </helpers>
        <resources>
            <magentothem_quickview_setup>
                <setup>
                    <module>Magentothem_Quickview</module>
                </setup>
            </magentothem_quickview_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <magentothem_quickview>
                <use>standard</use>
                <args>
                    <module>Magentothem_Quickview</module>
                    <frontName>quickview</frontName>
                </args>
            </magentothem_quickview>
        </routers>
        <layout>
            <updates>
                <magentothem_quickview>
                    <file>quickview.xml</file>
                </magentothem_quickview>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <menu>
            <magentothem translate="title" module="magentothem_quickview">
                <title>Magentothem</title>
                <sort_order>71</sort_order>
                <children>
                    <ajaxcartsuper translate="title" module="magentothem_quickview">
                        <title>Product Quick View</title>
                        <sort_order>63</sort_order>
                        <children>
                            <configuration>
                                <title>Configuration</title>
                                <sort_order>1</sort_order>
                                <action>adminhtml/system_config/edit/section/quickview</action>
                            </configuration>
                        </children>
                    </ajaxcartsuper>
                </children>
            </magentothem>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <quickview>
                                            <title>Product Quick View</title>
                                        </quickview>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <quickview>
            <quickview_config>
                <enabled>1</enabled>
                <category_enabled>1</category_enabled>
                <image_upload>default/ajax-loader.gif</image_upload>
				<element_container>.producttabs;.ma-bestsellerproductslider-container; .ma-newproductslider-container; .ma-onsaleproductslider-container;.ma-timer-container;.ma-featuredproductslider-container</element_container>
                <parent_element>item-inner</parent_element>
                <children_element>add-to-links</children_element>
                
            </quickview_config>
            <media_config>
                <width_main_image>500</width_main_image>
                <height_main_image>500</height_main_image>
                <auto>0</auto>
                <speed>3000</speed>
                <itemsDefault>4</itemsDefault>
                <itemsDesktop>4</itemsDesktop>
                <itemsDesktopSmall>3</itemsDesktopSmall>
                <itemsTablet>2</itemsTablet>
                <itemsMobile>1</itemsMobile>
                <width_thumbnail>50</width_thumbnail>
                <height_thumbnail>50</height_thumbnail>
                <next_back>1</next_back>
                <nav_ctrl>0</nav_ctrl>
            </media_config>
        </quickview>
    </default>
</config>